<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adventure - Benjamin Daghir</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../public/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="navbarCopy">
  </div>
</body>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Canada Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Canada Day
                    <small>Vancouver BC, Canada - 2018</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portland Row -->
        <div class="row">

            <div class="col-md-8 slides">
                <img id="canada" class="img-responsive slideshows" alt="">
            </div>

            <div class="col-md-4">
                <h3>Trip Summary</h3>
                <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Portland Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Summer Internship
                    <small>Pacific Northwest - 2018</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portland Row -->
        <div class="row">

            <div class="col-md-8 slides">
                <img id="pacificnw" class="img-responsive slideshows" alt="">
            </div>

            <div class="col-md-4">
                <h3>Seattle, WA</h3>
                <p></p>
            </div>

            <div class="col-md-4">
                <h3>Portland, OR</h3>
                <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Questival Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Questival
                    <small>Atlanta, Georgia - 2016</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Questival Item Row -->
        <div class="row">

            <div class="col-md-8 slides">
                <img id="questival" class="img-responsive slideshows" alt="">
            </div>

            <div class="col-md-4">
                <h3>What is Questival you ask?</h3>
                <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Iceland Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Boy Scout Jamboree
                    <small>Lake Úlfljótsvatn, Iceland - 2012</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Iceland Item Row -->
        <div class="row">

            <div class="col-md-8 slides">
                <img id="iceland" class="img-responsive slideshows" alt="">
            </div>

            <div class="col-md-4">
                <h3>International Jamboree</h3>
                <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Boy Scout Jamboree
                    <small>Evo, Hämeenlinna, Finland - 2010</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8 slides">
                <img id="finland" class="img-responsive slideshows" alt="">
            </div>

            <div class="col-md-4">
                <h3>International Jamboree</h3>
                <p>In 2010, I attended my first international jamboree where we spent 10 days camping in Finland amongst
                thousands of coed scouts from all over the world! This was an incredible trip where I encountered
                cultural experience and sought leadership opportunities. I have made lasting friendships from people
                all over the world.</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Benjamin Daghir 2019</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../public/js/bootstrap.js"></script>

    <!-- Slideshow JS -->
    <script src="../../public/js/slideshow.js"></script>

</body>

</html>
