<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="navbarCopy">
  </div>
</body>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Academics
                    <small>Performance and Excellence in School</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row 1 -->
        <div class="row">
          <div class="col-md-8 topadjustment" style="position:relative; vertical-align: middle;">
            <img class="img-responsive slides1" src="../public/img/img1.jpg" alt="">
            <img class="img-responsive slides1" src="../public/img/img2.jpg" alt="">
            <img class="img-responsive slides1" src="../public/img/img3.jpg" alt="">
            <div class="wrapper">
              <a id="left1" class="left"></a>
              <a id="right1" class="right"></a>
            </div>
            <a id="play1" class="play" style="opacity:1"> </a>
            <div id="pause1" class="pause" style="opacity:0"> </div>
          </div>

            <div class="col-md-4">
                <h3>Georgia Institute of Technology
                <br>
                <span style="font-size: 20px">Atlanta, GA <br> August 2016 - Present </span>
                </h3>
                <p>I am currently a second year student at Georgia Institute of Technology majoring in Aerospace
                Engineering with a minor is Computer Science. I had only taken one computer science class prior to
                my collegiate career and I hated it. However, after my first Matlab class at Georgia Tech, I fell in love with coding.
                I immediately saw the potential that computers and machine learning have for solving complex problems.
                I hope to pursue further education in autonomous control systems for aeronautic and aerospace vehicals.</p>
                <br>
                <a class="btn1 btn-default1 btn-lg" href="../public/pdf/unofficialtranscript.pdf" target="_blank">Unofficial Transcript</a>
                <br>
                <h3>Summary</h3>
                <ul>
                    <li>Major: Aerospace Engineering</li>
                    <li>Minor: <a class="link" href="/views/coding/home">Computer Science</a></li>
                    <li>GPA: 4.000 / 4.000</li>
                    <li>Credit Hours Completed: 47 of 132 hours</li>
                    <li>Two <a class="link" href="/views/research/home"> Undergraduate Research </a> positions</li>
                    <li>A member and researcher of Georgia Tech's <a class="link" href="/views/grandchallenges/home">Grand Challenges</a> program. <br> I am researching solutions for improved heating and cooling efficiency for lower-income households with my team, <a class="link" href="/grandchallenges/home">Invenergy</a>.</li>
                    <li>An <a class="link" href="/views/research/home"> undergraduate researcher </a> with Dr. J.V. Prasad</li>
                </ul>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <!-- Portfolio Item Row 2 -->
        <div class="row">
            <div class="col-md-8 topadjustment">
              <img class="img-responsive slides2" src="../public/img/img1.jpg" alt="">
              <img class="img-responsive slides2" src="../public/img/img2.jpg" alt="">
              <img class="img-responsive slides2" src="../public/img/img3.jpg" alt="">
              <div class="wrapper">
                <a id="left2" class="left"></a>
                <a id="right2" class="right"></a>
              </div>
              <a id="play2" class="play" style="opacity:1"> </a>
              <div id="pause2" class="pause" style="opacity:0"> </div>
            </div>


            <div class="col-md-4" style="float: right">
              <h3>Saint Mark's High School
              <br>
              <span style="font-size: 20px">Wilmington, DE <br> August 2012 - June 2016<span>
              </h3>
                <p>Saint Mark's is a private college preperatory Catholic high school in Wilmington Delaware. The school bases itself around the four pillars of Faith, Excellence, Integrity, and Humility.</p>
                <h3>Summary</h3>
                <ul>
                    <li>Weighted GPA: 4.760 / 5.000 <br>Raw GPA: 4.000 / 4.000</li>
                    <li>Class Rank: Valedictorian (1 of 202)</li>
                    <li>8 AP Classes and 9 AP Exams</li>
                    <li>Varsity Baseball</li>
                    <li>Varsity Golf</li>
                    <li>National Honor Society</li>
                    <li>Student Council</li>
                    <li>Math League Captain (2 Champioships)</li>
                    <li>Academic Challenge Captain (2 Championships and ranked among top 20 in nation twice)</li>
                </ul>
                <h3>Awards and Honors</h3>
                <ul>
                    <li>Ronald R. Russo Jr. Memorial Award for Academic Excellence. Given to the top academic graduating senior.</li>
                    <li>St. Francis de Sales award for academic excellence, leadership, and service. The highest honor awarded by the Archdioceses of Wilmington.</li>
                    <li>Baldino-Morrison Award for Excellence in Calculus.</li>
                    <li>The William H. Melis, Sr. Memorial Award for the Highest Average in Advanced Social Studies over Four Years.</li>
                    <li>Advanced Placement Scholar with Distinction</li>
                </ul>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Portfolio Continued...</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Benjamin Daghir 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.js"></script>

</body>

</html>
