<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Computer Science - Languages and Their Respective Projects</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../public/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="navbarCopy">
  </div>
</body>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Matlab Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Matlab
                    <small>Computation, Plotting, and Recursion</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Matlab Item Row -->
        <div class="row">

          <div class="col-md-8 topadjustment" style="position:relative; vertical-align: middle;">
            <img class="img-responsive slides1" src="../../public/img/img1.jpg" alt="">
            <img class="img-responsive slides1" src="../../public/img/img2.jpg" alt="">
            <img class="img-responsive slides1" src="../../public/img/img3.jpg" alt="">
            <div class="wrapper">
              <a id="left1" class="left"></a>
              <a id="right1" class="right"></a>
            </div>
            <a id="play1" class="play" style="opacity:1"> </a>
            <div id="pause1" class="pause" style="opacity:0"> </div>
          </div>

            <div class="col-md-4">
                <h3>Experience</h3>
                <p>Matlab is the first language on which I have recieved any
                  formal education. With that being said, I am most proficient
                  and familiar with Matlab and its documentation techniques.
                  Most of these projects were for classes; however, I have
                  recently been exploring computer vision in Matlab.</p>
                <h3>Projects (click to download)</h3>
                <ul>
                    <li>Flight Dynamics and Plotting</li>
                    <li>Recursive Maze Solver</li>
                    <li>Spotify and IMDB API Processing</li>
                    <li>Class: CS 1371|Computing for Engineering</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Javascript Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Javascript
                    <small>Front-End Web Development</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3>Experience</h3>
                <p>Before this website, I have no experience with javascript.
                  After about 8 months of self taught knowledge, I now have a
                  adequate experience with making a responsive web design.</h3>
                <ul>
                    <li>I designed and coded the <a class="link" href="/#portfolio">Portfolio Section</a> of this
                    website in its entirity
                    from the ground up.</li>
                    <li>I designed and coded the slideshow sections throughout
                        the Portfolio.</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- node.js Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Node.js
                    <small>Static Servers</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- node.js Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3>Experience</h3>
                <p>I have the most server experience with node.js with express.
                   Most of the time, these servers are static.</p>
                <h3>Projects</h3>
                <ul>
                    <li>BenDaghir.com</li>
                    <li>Apple Applications <a class="link"> See Swift Section</a></li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Java Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Java
                    <small>Object Oriented Programming</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Java Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3>Experience</h3>
                <p>I am currently enrolled in a Java class at Georgia Tech. My
                  intentions for this language are to get a better understanidng
                  of object oriented programming.</p>
                <h3>Projects (Coming Soon)</h3>
                <ul>
                  <!-- insert <li> here -->
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Swift Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Swift 3.0
                    <small>iOS Applications</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Swift Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3>Experience</h3>
                <p>I have not yet launched my iOS applications on the App Store.
                   However, I have familiarized myself with Swift's libraries
                   and Swift's syntax. I feel that, with the correct resources,
                   I could successfully design and code basic iOS applications
                   with success.</p>
                <h3>Projects</h3>
                <ul>
                  <li>SendMe: An application that uses computer vision to match
                      photos to it's users</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->



        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Benjamin Daghir 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../public/js/bootstrap.js"></script>

</body>

</html>
