<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employment - Benjamin Daghir</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../public/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="navbarCopy">
  </div>
</body>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align:center;"class="">Employment<br>
                    <small>Previously Paid Positions and Responsibilities</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">The Boeing Company
                    <small>Seattle, WA</small>
                </h2>
            </div>
        </div>

    <div class="row">
        <div style="width: 100%;">
            <img class="img-responsive" src="../../public/img/employment/boeing.jpg" alt="" style="width: 100% ">
        </div>

        <div class="col-md-12" style="position: relative; width 100%;">
            <h3>BCA Flight Sciences</h3>
            <h4><i>Static Loads and Dynamics - Software Engineer</i></h4>
            <span style="font-size: 20px">May 2018 - Present </span>
            <p>The Boeing Company is the world's largest Aerospace company leading in
            commercial airliners, space, and defense. Within Boeing there are the divisions of
            Boeing Commercial Aircraft (BCA), and Boeing Defense Systems (BDS). I was hired to the
            BCA Flight Sciences Organization withing Static Loads and Dynamics.</p>
                Reference: David Gubbels
                <br>
                Flight Sciences Manager
                <br>
                email: david.a.gubbels@boeing.com
            <h4>Summer 2018 Project</h4>
            <h5>Goal: Develop a Streamlined Anaylsis Platform Capable of Comparing Wind Tunnel and CFD Data Sets</h5>
            <i>Requirements:</i>
            <ul>
                <li>Core Languagues: Python, JavaScript, Web Style Languages</li>
                <li>The Use of Only Open Sourced Libraries</li>
                <li>Modular Interface for Future Functionality Expansion</li>
                <li>Lightweight Enough to Run in a Web Browser</li>
                <li>Powerful Enough to Analyze Full Data Sets Within a Minute</li>
                <li>Clear, Concise, and Correct Visuals for Analytic Results</li>
                <li>3D Nacelle Visualization Using <i>Dash by Plotly</i> Libraries</li>
            </ul>
            <i>Features I Added:</i>
            <ul>
                <li>Fully Queriable Database for HDF Files</li>
                <li>Reading Raw CFD Files</li>
                <li>Full CFD Visualization Meshing With Pressure Coefficient Mapping</li>
                <li>Ability to Compile Multiple CFD and Wind Tunnel Datasets into a Common File Format</li>
                <li>Geometric Linear Transformations to Nacelle Matrices to Compare Different Nacelles or Different Coordinate Systems</li>
                <li>Full User Documentation</li>
                <li>Full Developer Documentation</li>
            </ul>
            <i>Outcome:</i><br>
            &nbsp;&nbsp;&nbsp;&nbsp;The analysis platform along with the extra features was finished within the 12 weeks I interned. The project was a great
            learning experience. I did not know Python before working, but quickly picked it up while on the job. After my performance review,
            it was determined that I had "Exceeded the Expectations" of my goals during this internship.
        </div>

    </div>
    <!-- Row Item -->
    <h1 class="page-header"> </h1>
        <div class="row page-header">
                  <div class="col-md-8">
                    <img class="img-responsive" src="../../public/img/employment/agcs.jpg" alt="" style="margin: auto; margin-top: 75px;">
                  </div>
                    <div class="col-md-4">
                        <h3>Avon Grove Charter School</h3>
                        <h4><i>Maintenance and Facilities</i></h4>
                        <span style="font-size: 20px">West Grove, PA <br> June 2017 - August 2017 </span>
                        <p>The Avon Grove Charter School teaches students between kindergarten and 12th grade.
                            This was the school that I attended before high school, so it was nostalgic to work there.
                            Aside from that, this was the first full time job I held with more serious
                            and formal responsibility. We had deadlines to meet and a shortage of workers.
                            This job has prepared me for a formal and choatic work envirnoment I expect to
                            ecounter frequently in the future.</p>
                            Reference: Jason Knox
                            <br>
                            Facilities Manager
                            <br>
                            email: jknox@aagcharter.org
                        <h3>Employment Summary</h3>
                        <ul>
                            <li>40+ Hours per Week</li>
                            <li>Logistical Planning</li>
                            <li>Repair and Renovaiton</li>
                            <li>Painting</li>
                            <li>Operation of Power Tools</li>
                            <li>Awarded the
                                <span style="font-style: italicize;"> Change Award</span>
                                for being adaptable and flexible to changes </li>
                        </ul>
                    </div>

                </div>
                <!-- /.row -->
                <br>
                <br>
                <br>
                <br>
                <!-- Portfolio Item Row -->
                <div class="row">
                  <div class="col-md-8">
                    <img class="img-responsive" src="../../public/img/employment/bluerocks.jpg" alt="">
                  </div>
                    <div class="col-md-4">
                        <h3>The Wilmington Blue Rocks</h3>
                        <h4><i>Ushering | Inflatables</i></h4>
                        <span style="font-size: 20px">Wilmington, DE <br> May 2016 - August 2017 </span>
                        <p>This was my first paid job as a teenager, and one that has special sentiment to me.
                        I grew up playing baseball, so being paid to work at a stadium was an unforgettable
                        job experience. This job taught me the first responsibilities of being an excellent employee
                        and coworker. While I enjoyed this job, it was just the starting point of my
                        ambitious work career.</p>
                        Reference: Andrew Layman
                        <br>
                        Assistant General Manager
                        <br>
                        email: layman@bluerocks.com
                        <br>
                        <br>
                        Reference: Robert Ford
                        <br>
                        Director of Business Development
                        <br>
                        email: rford@bluerocks.com
                        <h3>Employment Summary</h3>
                        <ul>
                            <li>14-28 Hours per Week</li>
                            <li>Ushering Customers</li>
                            <li>Inflatables "Fun Zone" Worker</li>
                        </ul>
                    </div>

                </div>
                <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Benjamin Daghir 2019</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../public/js/bootstrap.js"></script>

</body>

</html>
