<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grand Challenges</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../public/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="navbarCopy">
  </div>
</body>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Invenergy
                    <small>A Grand Challenges Research Team</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3>Our Vision</h3>
                <h4>How might we reduce energy costs for low-income households
                    through the use of thermochromic materials on exterior home
                    surfaces? </h4>
                <p>Grand Challenges is a living and learning community focused
                    on solving some of the world's prominant, multi-disciplinary,
                    and multi-cultural problems. <br> My team of students focuses
                    on the subdivision of energy. Our goal and vision is to provide
                    lower-income families and individuals an increased access
                    high standards of living while effectively lowering its cost.
                    Our specified area of interest is climate control in homes,
                    specifically through insulation. However, traditionally insulation
                    is installed inside of the home as foam or fiberglass. What
                    we propose, is a means of external insulation from solar radiation
                    through the intrisic properties of colored paint.
                    <br> <h4> How? </h4>
                    By utiliizing the properties of thermochromic paint that uses
                    microencapsulation to create a lueco dye, the properties of
                    color can be controlled through applied temperature. This
                    allows for a passively adaptive paint to react to external environmental factos.
                    <br> <h4> Has this been done? </h4>
                    The short answer is no. Lueco dye has typically been used in textiles and crafts,
                    never as an insulator. However, there are a few studies and
                    theses that have explored this capability, but most of the data
                    is on a small scale and mostly theoretical. There are also
                    some patents that reference this process; however, these patents
                    were made to secure liscenesing deals, not to produce a working model.
                    These patents expire in a few years, opening it up to the public domain.
                    A detailed report on the research and patents can be found in our project
                    proposal listed below.
                    <br><h4> Where and how will our product be implemented?</h4>
                    Becuase we are still in the research phase and have not secured
                    a patent of our own, I cannot share the details of our implementation
                    plan and design.
                </p>
                <h3>Project Details and Documents</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Benjamin Daghir 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../public/js/bootstrap.js"></script>

</body>

</html>
